@{ ViewData["Title"] = "Home Page"; }


<div class="row-1" >
    <div class="text-center">
        <h1 class="display-4">NeonTrees Welcomes You</h1>
    </div>
</div>
<div class="col-12">

    <div style=" 
        display: flex;
        flex: 1;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        width: 1900px;

"><div class="col-8">
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2); width:60%; height:50vh; margin:5px" src="https://charts.mongodb.com/charts-neontrees-db-tynbk/embed/charts?id=9944ee8e-4a19-4b88-8aaf-bfa1cbb9a501&theme=light"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2); width:38%; height:50vh; margin:5px" src="https://charts.mongodb.com/charts-neontrees-db-tynbk/embed/charts?id=d8b5db82-c066-4146-914e-cdec7a161a08&theme=light"></iframe>
</div>
        <div class="col-4" style="flex-direction: column;">
        <div class="row">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2); width:80%; height:25vh; margin:5px" src="https://charts.mongodb.com/charts-neontrees-db-tynbk/embed/charts?id=45e0367b-dcaa-4a00-9576-ac6b7a3b1461&theme=light"></iframe>
        </div>
        <div class="row">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2); width:80%; height:25vh; margin:5px" src="https://charts.mongodb.com/charts-neontrees-db-tynbk/embed/charts?id=14bcb0f4-b024-477c-b665-cc03c4d193cc&theme=light"></iframe>


        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </div>
</div>
</div>