@{
    ViewData["Title"] = "Components";
}

<h1>@ViewData["Title"]</h1>

<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">CPU</a> </P>
<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">GPU</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">Motherboard</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">Powersupply</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">SSD</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">HDD</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">RAM</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">Cooler</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">Case</a> </p>
