@{
    ViewData["Title"] = "Components";
}

<h1>@ViewData["Title"]</h1>

<p> <a asp-area="" asp-controller="Items" asp-action="Cpu">CPU</a> </P>
<p> <a asp-area="" asp-controller="Items" asp-action="Gpu">GPU</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Mother">Motherboard</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Psu">Powersupply</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Ssd">SSD</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Hdd">HDD</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Ram">RAM</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Cooler">Cooler</a> </p>
<p> <a asp-area="" asp-controller="Items" asp-action="Case">Case</a> </p>
