<<<<<<< Updated upstream
﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
=======
﻿
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>

    <h1>Cutomer Details:</h1>
    <br />

    <ul>
        <li>
            <div class="wrap">
                <label for="Name">Name:</label>
                <input type="text" name="field1" class="field-style field-split25 align-left" placeholder="Name" />
            </div>
            <br />
            <div class="wrap">
                <label for="Surname">Surname:</label>
                <input type="text" name="field2" class="field-style field-split25 align-left" placeholder="Surname" />
            </div>
            <br />
            <div class="wrap">
                <label for="phonenumber">Phone Number:</label>
                <input type="text" name="field3" class="field-style field-split25 align-left" placeholder="PhoneNumber" />
            </div>
            <br />
            <div class="wrap">
                <label for="Email">Email:</label>
                <input type="text" name="field4" class="field-style field-split25 align-left" placeholder="Email" />
            </div>
            <br />
            <br />
            <button class="customer-button" type="button">Save</button>
            <button class="customer-button" type="button">Cancel</button>


        </li>
    </ul>

</body>
</html>