<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NeonTrees</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="https://kit.fontawesome.com/ecddb1c16f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NeonTrees</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">                    
                    <ul class="navbar-nav flex-grow-1  ">
                        <!-- <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li> -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Analytics">Analytics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Build" asp-action="Index">Build</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index">Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm float-right navbar-light border-bottom box-shadow mb-3" style="        position: absolute;
        right: 0;
        top:0;
">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Create">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                </li>
            </ul>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white-50" style="background-color: #343a40;">
        <div id="foot-flexer">
            <div id="first-foot">
                <img src="~/images/NeonLogo.jpg" alt="Neon Trees Logo" style="height:100%;" />
                <div class="vl"></div>
            </div>
            <div id="second-foot">
                <h1>Need Help?</h1>
                <a href="#">Terms &amp; Conditions</a>
                <a href="#">Privacy Policy</a>
                <div class="row" id="paddingAdd">
                    <li><a href="#"><i class="fa fa-info-circle"></i></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#"><i class="fa fa-question-circle-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                </div>
            </div>
            <div class="vl"></div>
            <div id="third-foot">
                <h1>More</h1>
                <a href="#">Information</a>
                <a href="#">More Information</a>
                <div class="row" id="paddingAdd">
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </div>
            </div>
            <div class="vl"></div>
            <div id="fourth-foot">
                <h1>Follow Us</h1>
                <div class="row" id="paddingAdd">
                    <li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                </div>
                <span style="flex:1;">
                    &copy; Neon Trees<br>
                    North West Univirsity<br>
                    Hendrick Van Eck Boulevard<br>
                    Vanderbijlpark
                </span>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
