body {
   
}

.smaller_product_img{
    width: 9rem;
    height: 6rem;
}

.larger_product_img{
    width: 9rem;
    height: 8rem;
}

.basket_product_img {
    width: 6rem;
    height: 5rem;
    resize:both;
}

.table {
    width: 100%;
    border: dashed;
    border-width: 0.2rem;
    background-color: #EBEBEB;
    border-color: #674EA7;
}

.add_btn {
    height: 6rem;
    width: 5rem;
    font-size: 16px;
    background-color: #674EA7;
    color: #EBEBEB;
}

.remove_btn {
    height: 3rem;
    width: 5rem;
    font-size: 16px;
    background-color: red;
    color: #EBEBEB;
    border-color: white
}

.view_btn {
    height: 3rem;
    width: 5rem;
    font-size: 16px;
    background-color: darkgreen;
    color: #EBEBEB;
    border-color:white
}

/*CUSTOMER PAGE*/


.wrap {
    display: inline-block;
}

label {
    display: block;
    text-align: center;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4B5BD7;
}

.customer-button {
    font-size: 25px;
    font-family: 'Segoe UI';
    padding: 10px;
    border-radius: 8px;
    background-color: #4559CF;
    color: white;
    width: 100px;
}

    .customer-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }