@{
    ViewData["Title"] = "Basket";
}

<h1>@ViewData["Title"]</h1>

<table>
    <colgroup>
        <col span="1" style="width: 1%; background-color:white">
        <col span="1" style="width: 1%; background-color:white">
        <col span="1" style="width: 1%; background-color:white">
        <col span="1" style="width: 47%; background-color:white">
        <col span="1" style="width: 50%; background-color:white">
    </colgroup>

    <thead>
        <tr style="font-size:28px; font-style:oblique">
            <td></td>
            <td></td>
            <td></td>
            <td>Total Cost</td>
            <td>R 38,682.00</td>
        </tr>
    </thead>
</table>

<table class="table">

    <colgroup>
        <col span="1" style="width: 25%; background-color:white">
        <col span="1" style="width: 25%; background-color:white">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>

    <thead>
        <tr style="text-align:center">
            <th>Options</th>
            <th></th>
            <th>Name</th>
            <th>Price</th>

        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <td><img src="~/images/nx230.jpg" class="basket_product_img" /></td>
            <td>NX 230</td>
            <td>R 690.00</td>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <td><img src="~/images/700w.jpg" class="basket_product_img" /></td>
            <td>VP Plus</td>
            <td>R 1,299.00</td>
        </tr>


        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <td><img src="~/images/3070.jpg" class="basket_product_img" /></td>
            <td>RTX 3070</td>
            <td>R 15,999.00</td>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <td><img src="~/images/3800.jpg" class="basket_product_img" /></td>
            <td>Ryzen 7 3800XT</td>
            <td>R 8,099.00</td>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <th><img src="~/images/h100i.webp" class="basket_product_img" /></th>
            <td>H100i RGB Platinum</td>
            <td>R 2,699.00</td>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <td><img src="~/images/4tb.jpg" class="basket_product_img" /></td>
            <td>Blue</td>
            <td>R 1,999.00</td>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <td><img src="~/images/mb4.jpg" class="basket_product_img" /></td>
            <td>MAG B550 BAZOOKA</td>
            <td>R 3,499.00</td>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <td><img src="~/images/ram4.jpg" class="basket_product_img" /></td>
            <td>CRAS X RGB</td>
            <td>R 1,899.00</td>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><button class="remove_btn">Remove</button> <button class="view_btn">View</button></td>
            <td><img src="~/images/ssd4.webp" class="basket_product_img" /></td>
            <td>EX900 Pro</td>
            <td>R 2,499.00</td>
        </tr>

    </thead>
</table> 


