@{
    ViewData["Title"] = "Case Page";
}

<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Case Brand</th>
            <th>Case Name</th>
            <th>Case Size</th>
            <th>Total Fans</th>
            <th>Price</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/h500p.jpg" class="Cooler-img" /></th>
            <th>Cooler Msster</th>
            <th>H500P Mesh</th>
            <th>ATX-Full Tower</th>
            <th>3</th>
            <th>R 2000</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/4000x.jpg" class="Cooler-img" /></th>
            <th>Corsair</th>
            <th>iCue 4000X</th>
            <th>ATX-Full Tower</th>
            <th>3</th>
            <th>R 1600</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/meshc.jpg" class="Cooler-img" /></th>
            <th>Fractal Design</th>
            <th>Meshify-C</th>
            <th>ATX-Half Tower</th>
            <th>1</th>
            <th>R 1200</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/shiftx.jpg" class="Cooler-img" /></th>
            <th>Phanteks</th>
            <th>Evolv Shift X</th>
            <th>Mini ITX-Full Height</th>
            <th>1</th>
            <th>R 1900</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/cube.jpg" class="Cooler-img" /></th>
            <th>Antec</th>
            <th>Cube</th>
            <th>Micro-ATX-Small Tower</th>
            <th>1</th>
            <th>R 900</th>
        </tr>
    </thead>
</table>