@{
    ViewData["Title"] = "CPU Coolers";
}

<h1>@ViewData["Title"]</h1>


<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Cooler Brand</th>
            <th>Cooler Name</th>
            <th>Cooler Type</th>
            <th>Cooler Total Wats</th>
            <th>Price</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/hyper.jpg" class="Cooler-img" /></th>
            <th>Cooler Msster</th>
            <th>Hyper 212</th>
            <th>Air Cooler</th>
            <th>100 Watts</th>
            <th>R 500</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/h60.jpg" class="Cooler-img" /></th>
            <th>Corsair</th>
            <th>H60</th>
            <th>Water Cooler</th>
            <th>120 Watts</th>
            <th>R 1,100</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/h115i.jpg" class="Cooler-img" /></th>
            <th>Corsair</th>
            <th>H115i RGB Platuim</th>
            <th>Water Cooler</th>
            <th>200 Watts</th>
            <th>R 1,800</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/nhd15.jpg" class="Cooler-img" /></th>
            <th>Noctua</th>
            <th>Nh-D15</th>
            <th>Cooler Cooler</th>
            <th>140 Watts</th>
            <th>R 1,500</th>
        </tr>

        <tr style="font-size:small">
            <th><img src="~/images/ml360.jpg" class="Cooler-img" /></th>
            <th>Cooler Master</th>
            <th>MasterLiquid ML360R</th>
            <th>Water Cooler</th>
            <th>250 Watts</th>
            <th>R 2,400</th>
        </tr>
    </thead>
</table>
