@{
    ViewData["Title"] = "CPU Coolers Available";
}

<h1>@ViewData["Title"]</h1>

<table class="table">

    <colgroup>
        <col span="1" style="width: 25%; background-color:white">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>

    <thead>
        <tr style="text-align:center">
            <th></th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Options</th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <th><img src="~/images/a400.jpg" class="smaller_product_img" /></th>
            <th>A400 RGB CPU Cooler</th>
            <th>Antec</th>
            <th>R 549.00</th>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <th><img src="~/images/r1.jpg" class="smaller_product_img" /></th>
            <th>R1 Universal CPU Cooler</th>
            <th>Cryorig</th>
            <th>R 1,499.00</th>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <th><img src="~/images/h100i.webp" class="smaller_product_img" /></th>
            <th>H100i RGB Platinum Liquid CPU Cooler</th>
            <th>Corsair</th>
            <th>R 2,699.00</th>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <th><img src="~/images/ryuo.webp" class="smaller_product_img" /></th>
            <th>ROG RYUO 240 Liquid CPU Cooler</th>
            <th>ASUS</th>
            <th>R 3,299.00</th>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <th><img src="~/images/lc360.jpg" class="smaller_product_img" /></th>
            <th>ROG Strix LC 360 Liquid CPU Cooler</th>
            <th>ASUS</th>
            <th>R 3,999.00</th>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>
    </thead>
</table>
