@{
    ViewData["Title"] = "Processors Available";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <colgroup>
        <col span="1" style="width: 25%; background-color:white">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>

    <thead>
        <tr style="text-align:center">
            <th></th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Options</th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/10100.jpg" class="larger_product_img" /></td>
            <td>Core i3-10100</td>
            <td>Intel</td>
            <td>R 2,899.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/3600.jpg" class="larger_product_img" /></td>
            <td>Ryzen 5 3600</td>
            <td>AMD</td>
            <td>R 4,199.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/3800.jpg" class="larger_product_img" /></td>
            <td>Ryzen 7 3800XT</td>
            <td>AMD</td>
            <td>R 8,099.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/10900.jpg" class="larger_product_img" /></td>
            <td>Core i9-10850KA</td>
            <td>Intel</td>
            <td>R 9,999.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/3990.jpg" class="larger_product_img" /></td>
            <td>Ryzen Threadripper 3990X</td>
            <td>AMD</td>
            <td>R 84,599.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>
    </thead>
</table> 