@{
    ViewData["Title"] = "Gpu Page";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/styles.css" />

<table style="width: 100%">
    <colgroup>
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 12%;">
        <col span="1" style="width: 13%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 10%;">
    </colgroup>

    <tr>
        <th></th>
        <th>Name</th>
        <th>Brand</th>
        <th>Manufacturer</th>
        <th>Video Memory</th>
        <th>Base Clock Speed</th>
        <th>Boost Clock Speed</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src="~/images/5500.jpg" class="img_cooler" /></td>
        <td>RX 5500 XT</td>
        <td>Gigabyte</td>
        <td>AMD</td>
        <td>8GB</td>
        <td>1717 MHz</td>
        <td>1845 MHz</td>
        <td>R 3900</td>
    </tr>
    <tr>
        <td><img src="~/images/1660.jpg" class="img_cooler" /></td>
        <td>GTX 1660 Super</td>
        <td>Evga</td>
        <td>Nvidia</td>
        <td>6GB</td>
        <td>1530 MHz</td>
        <td>1830 MHz</td>
        <td>R 4900</td>
    </tr>
    <tr>
        <td><img src="~/images/5700.jpg" class="img_cooler" /></td>
        <td>RX 5700 XT</td>
        <td>MSI</td>
        <td>AMD</td>
        <td>8GB</td>
        <td>1605 MHz</td>
        <td>1910 MHz</td>
        <td>R 8300</td>
    </tr>
    <tr>
        <td><img src="~/images/2080.png" class="img_cooler" /></td>
        <td>RTX 2020 TI</td>
        <td>Nvidia</td>
        <td>Nvidia</td>
        <td>11GB</td>
        <td>1680 MHz</td>
        <td>1890 MHz</td>
        <td>R 23000</td>
    </tr>
    <tr>
        <td><img src="~/images/3090.jpg" class="img_cooler" /></td>
        <td>RTX 3090</td>
        <td>Asus</td>
        <td>Nvidia</td>
        <td>24GB</td>
        <td>1717 MHz</td>
        <td>1980 MHz</td>
        <td>R 40000</td>
    </tr>

</table>
