@{
    ViewData["Title"] = "Graphics Cards Available";
}

<h1>@ViewData["Title"]</h1>

<table class="table">

    <colgroup>
        <col span="1" style="width: 25%; background-color:white">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>

    <thead>
        <tr style="text-align:center">
            <th></th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Options</th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/1030.jpg" class="larger_product_img" /></td>
            <td>Geforce GT 1030 AERO</td>
            <td>MSI</td>
            <td>R 1,799.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/5500.jpg" class="larger_product_img" /></td>
            <td>Radeon RX 5500 XT</td>
            <td>MSI</td>
            <td>R 5,299.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/2060.jpg" class="larger_product_img" /></td>
            <td>RTX 2060 Super</td>
            <td>MSI</td>
            <td>R 9,999.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/3070.jpg" class="larger_product_img" /></td>
            <td>RTX 3070</td>
            <td>Gigabyte</td>
            <td>R 15,999.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/6000.webp" class="larger_product_img" /></td>
            <td>Quadro RTX 6000</td>
            <td>NVIDIA</td>
            <td>R 79,999.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>
    </thead>

</table>
