@{
    ViewData["Title"] = "Motherboards Available:";
}

<h1>@ViewData["Title"]</h1>
<table style="width: 100%" class="table">
    <colgroup>

        <col span="1" style="width: 10%">
        <col span="1" style="width: 15%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 12%">
        <col span="1" style="width: 13%">
        <col span="1" style="width: 15%">
        <col span="1" style="width: 15%">
    </colgroup>
    <tr>
        <th></th>
        <th>Brand</th>
        <th>Name</th>
        <th>Type</th>
        <th>Form Factor</th>
        <th>Chipset</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src="~/images/mb1.jpg" width="100" height="100" /></td>
        <td>MSI</td>
        <td>A520M-A PRO</td>
        <td>AMD</td>
        <td>M-ATX</td>
        <td>A520</td>
        <td>R 1,700</td>
    </tr>
    <tr>
        <td><img src="~/images/mb2.jpg" width="100" height="100" /></td>
        <td>ASUS</td>
        <td>PRIME A520M-A</td>
        <td>AMD</td>
        <td>M-ATX</td>
        <td>A520</td>
        <td>R 2,000</td>
    </tr>
    <tr>
        <td><img src="~/images/mb3.jpg" width="100" height="100" /></td>
        <td>ASUS</td>
        <td>TUF H370-PRO Gaming</td>
        <td>Intel</td>
        <td>LGA 1151</td>
        <td>H370</td>
        <td>R 2,399</td>
    </tr>
    <tr>
        <td><img src="~/images/mb4.jpg" width="100" height="100" /></td>
        <td>MSI</td>
        <td>MAG B550M BAZOOKA</td>
        <td>AMD</td>
        <td>ATX</td>
        <td>B550</td>
        <td>R 4,500</td>
    </tr>
    <tr>
        <td><img src="~/images/mb5.jpg" width="100" height="100" /></td>
        <td>ASUS</td>
        <td>ASUS ROG STRIX H470-I Gaming</td>
        <td>Intel</td>
        <td>ITX</td>
        <td>H470 </td>
        <td>R 4,300</td>
    </tr>
</table>

