@{
    ViewData["Title"] = "RAM Available:";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <colgroup>
        <col span="1" style="width: 25%; background-color:white">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>

    <thead>
        <tr style="text-align:center">
            <th></th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Options</th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/ram1.jpg" class="larger_product_img" /></td>
            <td>V8 RGB</td>
            <td>HP</td>
            <td>R 6,199.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/ram2.jpg" class="larger_product_img" /></td>
            <td>Vengeance LPX</td>
            <td>Corsair</td>
            <td>R 5,999.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/ram3.jpg" class="larger_product_img" /></td>
            <td>V8</td>
            <td>HO</td>
            <td>R 1,699.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/ram4.jpg" class="larger_product_img" /></td>
            <td>CRAS X RGB</td>
            <td>Intel</td>
            <td>R 1,899.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>

        <tr style="font-size:22px; text-align:center">
            <td><img src="~/images/ram5.jpg" class="larger_product_img" /></td>
            <td>V6</td>
            <td>HP</td>
            <td>R 2,899.00</td>
            <th><button class="add_btn">Add to Basket</button></th>
        </tr>
    </thead>
</table> </table> 