@{
    ViewData["Title"] = "RAM Available:";
}

<h1>@ViewData["Title"]</h1>
<table style="width: 100%" class="table">
    <colgroup>

        <col span="1" style="width: 10%">
        <col span="1" style="width: 15%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 12%">
        <col span="1" style="width: 13%">
        <col span="1" style="width: 15%">
        <col span="1" style="width: 15%">
    </colgroup>

    <tr>
        <th></th>
        <th>Brand</th>
        <th>Name</th>
        <th>Size</th>
        <th>Speed</th>
        <th>Memory Type</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src="~/Images/ram1.jpg" width="100" height="100" /></td>
        <td>HP</td>
        <td>V8 64GB</td>
        <td>64GB</td>
        <td>3200 MHz</td>
        <td>DDR4</td>
        <td>R 6,499</td>
    </tr>
    <tr>
        <td><img src="~/Images/ram2.jpg" width="100" height="100" /></td>
        <td>Corsair</td>
        <td>Vengeance LPX</td>
        <td>64GB</td>
        <td>3600 MHz</td>
        <td>DDR4</td>
        <td>R 6,900</td>
    </tr>
    <tr>
        <td><img src="~/Images/ram3.jpg" width="80" height="80" /></td>
        <td>HP</td>
        <td>V8</td>
        <td>16GB</td>
        <td>3000 MHz</td>
        <td>DDR4</td>
        <td>R 1,600</td>
    </tr>
    <tr>
        <td><img src="~/Images/ram4.jpg" width="100" height="100" /></td>
        <td>KLEVV </td>
        <td>CRAS X</td>
        <td>16GB</td>
        <td>3600 MHz</td>
        <td>DDR4</td>
        <td>R 2,200</td>
    </tr>
    <tr>
        <td><img src="~/Images/ram5.jpg" width="100" height="100" /></td>
        <td>HP</td>
        <td>V6</td>
        <td>16GB</td>
        <td>3200 MHz</td>
        <td>DDR4</td>
        <td>R 2,900</td>
    </tr>
</table> 