@{
    ViewData["Title"] = "SSDs Available:";
}

<h1>@ViewData["Title"]</h1>
<table style="width: 100%" class="table">
    <colgroup>

        <col span="1" style="width: 10%">
        <col span="1" style="width: 15%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 12%">
        <col span="1" style="width: 13%">
        <col span="1" style="width: 15%">
        <col span="1" style="width: 15%">
    </colgroup>
    <tr>
        <th></th>
        <th>Brand</th>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src="~/images/ssd1.jpg" width="100" height="100" /></td>
        <td>Corsair</td>
        <td>Force MP510</td>
        <td>4TB</td>
        <td>NVMe</td>
        <td>R 4,200</td>
    </tr>
    <tr>
        <td><img src="~/images/ssd2.webp" width="100" height="100" /></td>
        <td>Samsung </td>
        <td>970 EVO</td>
        <td>2TB</td>
        <td>NVMe</td>
        <td>R 6,999</td>
    </tr>
    <tr>
        <td><img src="~/images/ssd3.jpg" width="100" height="100" /></td>
        <td>Hikvision</td>
        <td>C100</td>
        <td>1920GB</td>
        <td>NVMe</td>
        <td>R 6,000</td>
    </tr>
    <tr>
        <td><img src="~/images/ssd4.webp" width="100" height="100" /></td>
        <td>HP</td>
        <td>EX950</td>
        <td>1TB</td>
        <td>NVMe</td>
        <td>R 2,800</td>
    </tr>
    <tr>
        <td><img src="~/images/ssd5.webp" width="100" height="100" /></td>
        <td>KLEVV</td>
        <td>CRAS C710</td>
        <td>1TB</td>
        <td>NVMe</td>
        <td>R 2,200</td>
    </tr>
</table> 